[Desktop Entry]
Name=Prism - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=prism --open-url %U
Icon=prism
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/prism;
Keywords=prism;
